.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.InputLabel {
  display: flex;
  font-family: Arial;
  font-size: 35px;
  font-weight: bolder;
  height: 38px;
  width: 60%;
  color: rgb(40, 116, 166);
  text-align: center;
}

.InputBox {
  display: flex;
  font-family: Arial;
  height: 40px;
  width: 60%;
  color: rgb(40, 116, 166);
  /* text-align: left; */
  font-size: 25px;
  border: 2px solid rgb(40, 116, 166);
}

.InputWithLabel{
  margin: 10px;
  text-align: left;
}

.SubmitButton {
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
  background-color: rgb(40, 116, 166);
  color: whitesmoke;
  padding: 10px;
  margin-top: 30px;
  border-radius: 50px;
}
